<div ng-controller="AboutController" class="static">
    <div class="content">

        <h1 class="f-orgovan">About Us</h1>

        <img src="/assets/img/lads.jpg" class="photo" />

        <div class="columns">

            <div class="full-col">
                <p>Making Games Is Fun is an independently created, ongoing, online photodocumentary series looking at people who work in, or make their living around, the games industry. The images and words are made by photographer and word-man GaryDooton. These images and words are then brought to life and made available to you by the web development and coding prowess of David Woollard. Without David, it would be like writing words and printing photos without paper, which would be very stupid indeed.</p>
            </div>

            <div class="half-col">

                <h2 class="f-orgovan">Gary</h2>
                <p><a href="https://twitter.com/garydooton">GaryDooton</a>, or Gareth Dutton as he's known to his mum and dad, is a freelance photo  grapher and word speller. He has nice hair. He sometimes writes for the videogame writing and podcasting people known as Midnight Resistance. His hobbies are all for children and are as follows:</p>
                <ul>
                    <li>Videogames</li>
                    <li>Pro Wrestling</li>
                    <li>Staring out of the window</li>
                </ul>
                <p>He photographs various human beings' faces in different ways for different reasons in return for cash. Preposterously, he is a father to a human woman (girl).</p>
            </div>
            
            <div class="half-col">
                <h2 class="f-orgovan">Dave</h2>
                <p>David Woollard is a frighteningly adept code serpent. It really is scary how good he is at telling computers what to do; I'm talking dry throated, shallow-breath, wide-eyed terror. David is also a creature of the freelance world and he and Gary can be found colluding in dimly lit, slightly annoying trendy pubs like two scheming walruses.</p>
                <p>David's hobbies are as follows:</p>
                <ul>
                    <li>Playing deadly guitar licks like some sort of slightly melted Josh Homme</li>
                    <li>Getting drunk on boats</li>
                    <li>Not going to bed at reasonable times</li>
                </ul>
            </div>

            <div class="clear"></div>
            <hr/>

            <div class="full-col">
                <p>By combining their powers, their brilliant quest is to create documentary material about the videogames industry and its surrounding culture in a way previously unseen, and to deliver it to you in a delightfully slick, dangerously pretty fashion.</p>
                <p>I mean honestly, this stuff practically pushes itself into your ears, eyes and throat so you barely have to lift a muscle in your stupid, stupid faces.</p>
            </div>
        </div>
    </div>
</div>
