<div id="home" class="section fullscreen" ng-controller="HomeController">

    <div class="content">
        <img src="/assets/img/logo-600-trans.png" class="mgif desktop-hidden" />
        <h1 class="f-orgovan mobile-hidden"><span class="making">Making</span><span class="games">games is</span><span class="fun text on">fun</span><span class="stressful text">stressful</span><span class="exciting text">exciting</span></h1>

        <div class="intro">
            <p>A surprisingly honest and open look at a game dev studio, looking at the people who work there. The absolute first of its kind. A photo documentary taken from the inside.</p>

            <p>No PR, no barriers, lots of silliness.</p>

            <p>&nbsp;</p>

            <a href="/#/chapter/1/1" class="cta f-orgovan mobile-hidden">Start reading...</a>

            <p class="credit mobile-hidden">Made by <a href="/#/about">Gary &amp; Dave</a>.</p>
        </div>
    </div>

    <div class="photo fun on"></div>
    <div class="photo stressful"></div>
    <div class="photo exciting"></div>
    
    <!-- <a href="/#/chapter/1/1" class="start-reading f-orgovan desktop-hidden">Start reading</a> -->

</div>
