<div ng-controller="SupportController" class="static">
    <div class="content">
        <h1 class="f-orgovan">Support us.</h1>

        <img src="/assets/img/lads.jpg" class="photo" />

        <div class="columns">
            <p>Out of all the things Dave and I do in our ridiculous little lives, making our own stuff, on our own terms, by our own rules, is what we love doing the most. We get absolute creative freedom and get to make whatever we want, however we want; nobody to bully us or tell us they think what we're doing is total garbage and that our faces are ugly and huge.</p>

            <p>What does that mean for the reader / picture looker / voice listener, also known as you? Well, it means that what I've written, what I've photographed and what I've recorded is what I think and what I've experienced. When it comes to documenting the games industry in various ways, that's a rare asset; There's no old school, Machiavellian PR git prodding and bullying me with his nasty little talons.</p>

            <p>All this freedom comes with a price of course, or a lack of one; we have no payroll department. I've tried billing the three year old but she only pays me in plastic coins from her toy cash register; so far I've made "five monies". Unfortunately, she keeps making me use them to buy teddies (and sometimes her own snot), resulting in "no monies left". It's a thoroughly demoralising experience. </p>

            <p>The best thing about what were making is it's available to everyone, no paywall means you can all enjoy it. The problem is, sometimes the money runs out, and I have to cut back ideas in terms of ambition and scope, content, whatever. </p>

            <p>One thing I can assure you is that I'll forever be making these photodocumentaries, and I plan to increase the scale, scope and sophistication as I continue, provided the funds are available, so don't think of this as a "this is free but I can't do any more unless you support me" – I WILL continue to create these photodocs either way, and they will continue to be free.</p>

            <p>What I'm saying is, don't consider this a guilt trip, like something your mum would say ("of course it's free, but if you LOVE me enough to give a MEASLY pound coin, then maybe you'd be a great person") because if you need your money, keep hold of it; don't give it to some idiot on The Internet.</p>

            <p>Your support simply helps us to think bigger. I'll always find something related to gaming to document, regardless of budget. I'm just happy that you're interested in my work in the first place, because that means it has value and was worth doing.</p>

            <p>Heartfelt thanks to all of you. Keep this site bookmarked and follow us on twitter because I have more stuff in the pipeline which will show up here, all free.</p>

            <p>Cheers humans,</p>

            <p>Love from GaryDooton and Dave Hurricane</p>            
        </div>

    </div>

</div>